@model Environment_Green.Models.QuizResult

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>QuizResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Occupants)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Occupants)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Income)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Income)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnergyBills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnergyBills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaterBills)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaterBills)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeaterType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeaterType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeaterDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HeaterDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WMType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WMType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WashingFrequency)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WashingFrequency)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Room)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BulbType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BulbType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BulbDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BulbDuration)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
